
<head>
	<title> MSRTC , A CityCash Product</title>
</head>
<body>
	<h>Welcome to MRSCTC Portal</h>
	<p>Search An Option</p>
	<!-- <input id="count" maxlength="100" name="count" type="text"/> -->
	<p><a href="/busMaster/displayRoute">Find Route</a></p>
	<p><a href="/busMaster/displayStop">Find Stations on a Route</a></p>
	<p><a href="/busMaster/searchRoute">Find Intermediate Stations</a></p>
</body>
<!-- {% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %} -->
